# Gradle
.gradle/
build/
**/build/
!/build.gradle.kts
!/settings.gradle.kts

# Kotlin
.kotlin/
*.konan
**/konan/

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/
.navigation/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/
cmake-build-*/

# iOS / Xcode / CocoaPods (для KMP iOS таргетов)
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.cocoapods/
Pods/
Podfile.lock

# OS-specific
.DS_Store
Thumbs.db
*.swp
*~
.directory

# Logs
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar